
<div class="container" id="logoarea">

  <ion-header >
  
    <div class="logo">
  
      <img src="assets\icon\orighttransback.png" loading="lazy">
  
    </div>
  
    <div id="container" class="ion-text-center">
      <strong>Welcome to ORight HRMS</strong>
  
       <p style="margin: 2%;">Proprietary of ORight PVT LTD</p>  
    </div>
  </ion-header>

</div>
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="login">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="signup">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Sign Up</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>

</ion-tabs>
