<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="radio-outline"></ion-icon>
      <ion-label>What's New</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="attendance">
      <ion-icon name="hand-right-outline"></ion-icon>
      <ion-label>Attendance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="useraccount">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>

</ion-tabs>